
ECommerceBackend/.vs/ECommerce/v17/.suo
ECommerceBackend/.vs/ECommerce/v17/.suo
ECommerceBackend/.vs/ECommerce/FileContentIndex/de9954da-3abc-4e67-8ddf-c8acc3b0b87e.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/d8be0a80-1c1b-47a3-b725-6a646b350f3e.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/b8667b29-64db-4d65-bcb7-2b5a8b736710.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/af79cf79-fa7d-4b0f-b3cc-09caabcb128f.vsidx
.vs/VSWorkspaceState.json
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.projects.v6.1
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.metadata.v6.1
ECommerceBackend/.vs/ECommerce/v17/.suo
ECommerceBackend/.vs/ECommerce/v17/.futdcache.v2
ECommerceBackend/.vs/ECommerce/FileContentIndex/d40808e3-2f22-4fbf-a8ff-7e11254e7d70.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/b8852a6a-86ac-4c70-9355-5910d00087df.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/b0eb274e-2649-4c15-9073-5f62ce81a93a.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/acceff2e-3199-4e8c-8ed6-64feb7e9ec81.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5f0d7de3-3029-4560-a908-9e69413ea73c.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5c678ff7-0e4e-46c1-83f7-3ccaae958c34.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/511a63dd-f717-4e31-98bb-99e252243de6.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/482bd567-f710-4ccd-9cf5-9b652dd79991.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/209c13c9-34b1-4579-a073-3733546f9a4c.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/12013b7e-4d92-45f1-9847-dad21ac3cf52.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/03ace795-94f9-4a5b-8618-ce8d212b5444.vsidx
ECommerceBackend/Business/bin/Debug/net7.0/Entities.pdb
ECommerceBackend/Business/bin/Debug/net7.0/Entities.dll
ECommerceBackend/Business/bin/Debug/net7.0/DataAccess.pdb
ECommerceBackend/Business/bin/Debug/net7.0/DataAccess.dll
ECommerceBackend/Business/bin/Debug/net7.0/Business.pdb
ECommerceBackend/Business/bin/Debug/net7.0/Business.dll
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.dll
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.pdb
ECommerceBackend/Entities/obj/Debug/net7.0/ref/Entities.dll
ECommerceBackend/Entities/obj/Debug/net7.0/refint/Entities.dll
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.csproj.BuildWithSkipAnalyzers
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.csproj.CoreCompileInputs.cache
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.csproj.FileListAbsolute.txt
ECommerceBackend/Entities/bin/Debug/net7.0/Entities.pdb
ECommerceBackend/Entities/bin/Debug/net7.0/Entities.dll
ECommerceBackend/Business/obj/Debug/net7.0/Business.csproj.AssemblyReference.cache
ECommerceBackend/Business/obj/Debug/net7.0/Business.csproj.CopyComplete
ECommerceBackend/.vs/ECommerce/FileContentIndex/482bd567-f710-4ccd-9cf5-9b652dd79991.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/511a63dd-f717-4e31-98bb-99e252243de6.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5c678ff7-0e4e-46c1-83f7-3ccaae958c34.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5f0d7de3-3029-4560-a908-9e69413ea73c.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/acceff2e-3199-4e8c-8ed6-64feb7e9ec81.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/b0eb274e-2649-4c15-9073-5f62ce81a93a.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/d40808e3-2f22-4fbf-a8ff-7e11254e7d70.vsidx
ECommerceBackend/.vs/ECommerce/v17/.futdcache.v2
ECommerceBackend/.vs/ECommerce/v17/.suo
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.metadata.v6.1
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.projects.v6.1
ECommerceBackend/Business/obj/Business.csproj.nuget.dgspec.json
ECommerceBackend/Business/obj/Debug/net7.0/Business.csproj.CoreCompileInputs.cache
ECommerceBackend/Business/obj/Debug/net7.0/Business.csproj.FileListAbsolute.txt
ECommerceBackend/Business/obj/Debug/net7.0/Business.pdb
ECommerceBackend/Business/obj/Debug/net7.0/refint/Business.dll
ECommerceBackend/Business/obj/Debug/net7.0/ref/Business.dll
ECommerceBackend/Business/obj/project.assets.json
ECommerceBackend/Business/obj/project.nuget.cache
ECommerceBackend/DataAccess/bin/Debug/net7.0/DataAccess.deps.json
ECommerceBackend/DataAccess/bin/Debug/net7.0/DataAccess.dll
ECommerceBackend/DataAccess/bin/Debug/net7.0/DataAccess.pdb
ECommerceBackend/DataAccess/bin/Debug/net7.0/Entities.dll
ECommerceBackend/DataAccess/bin/Debug/net7.0/Entities.pdb
ECommerceBackend/DataAccess/obj/DataAccess.csproj.nuget.dgspec.json
ECommerceBackend/DataAccess/obj/Debug/net7.0/refint/DataAccess.dll
ECommerceBackend/DataAccess/obj/Debug/net7.0/ref/DataAccess.dll
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.pdb
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.dll
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.csproj.FileListAbsolute.txt
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.csproj.CoreCompileInputs.cache
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.csproj.CopyComplete
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.csproj.BuildWithSkipAnalyzers
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.csproj.AssemblyReference.cache
ECommerceBackend/.vs/ECommerce/DesignTimeBuild/.dtbcache.v2
ECommerceBackend/Entities/bin/Debug/net7.0/Entities.deps.json
ECommerceBackend/.vs/ECommerce/FileContentIndex/d40808e3-2f22-4fbf-a8ff-7e11254e7d70.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/b0eb274e-2649-4c15-9073-5f62ce81a93a.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/acceff2e-3199-4e8c-8ed6-64feb7e9ec81.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5f0d7de3-3029-4560-a908-9e69413ea73c.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5c678ff7-0e4e-46c1-83f7-3ccaae958c34.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/511a63dd-f717-4e31-98bb-99e252243de6.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/482bd567-f710-4ccd-9cf5-9b652dd79991.vsidx
ECommerceBackend/.vs/ECommerce/DesignTimeBuild/.dtbcache.v2
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.projects.v6.1
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.metadata.v6.1
ECommerceBackend/.vs/ECommerce/v17/.suo
ECommerceBackend/.vs/ECommerce/v17/.futdcache.v2
ECommerceBackend/DataAccess/obj/project.nuget.cache
ECommerceBackend/DataAccess/obj/project.nuget.cache
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.projects.v6.1
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.metadata.v6.1
ECommerceBackend/.vs/ECommerce/v17/.suo
ECommerceBackend/.vs/ECommerce/v17/.futdcache.v2
ECommerceBackend/.vs/ECommerce/FileContentIndex/d40808e3-2f22-4fbf-a8ff-7e11254e7d70.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/b0eb274e-2649-4c15-9073-5f62ce81a93a.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/acceff2e-3199-4e8c-8ed6-64feb7e9ec81.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/7f011153-87cc-4ffd-afa0-dcf116845daa.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5f0d7de3-3029-4560-a908-9e69413ea73c.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5c678ff7-0e4e-46c1-83f7-3ccaae958c34.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/511a63dd-f717-4e31-98bb-99e252243de6.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/482bd567-f710-4ccd-9cf5-9b652dd79991.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/1f014831-cec5-4de1-8c2b-9b6439688179.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/08cea0af-5f03-4eac-9b78-33c6f30ae107.vsidx
ECommerceBackend/.vs/ECommerce/DesignTimeBuild/.dtbcache.v2
ECommerceBackend/Business/obj/Business.csproj.nuget.dgspec.json
ECommerceBackend/Business/obj/project.assets.json
ECommerceBackend/Business/obj/Debug/net7.0/Business.dll
ECommerceBackend/Business/obj/Debug/net7.0/Business.csproj.AssemblyReference.cache
ECommerceBackend/DataAccess/obj/project.nuget.cache
ECommerceBackend/DataAccess/obj/project.assets.json
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.csproj.AssemblyReference.cache
ECommerceBackend/DataAccess/obj/DataAccess.csproj.nuget.dgspec.json
ECommerceBackend/DataAccess/DataAccess.csproj
ECommerceBackend/DataAccess/DataAccess.csproj
ECommerceBackend/Business/obj/project.nuget.cache
