
ECommerceBackend/.vs/ECommerce/DesignTimeBuild/.dtbcache.v2
ECommerceBackend/.vs/ECommerce/DesignTimeBuild/.dtbcache.v2
ECommerceBackend/.vs/ECommerce/FileContentIndex/511a63dd-f717-4e31-98bb-99e252243de6.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5d4b2412-2ed5-4d5e-9eaf-74a89554a0f2.vsidx
ECommerceBackend/.vs/ECommerce/DesignTimeBuild/.dtbcache.v2
ECommerceBackend/.vs/ECommerce/FileContentIndex/511a63dd-f717-4e31-98bb-99e252243de6.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5f0d7de3-3029-4560-a908-9e69413ea73c.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/9d85d11b-9285-4545-baac-658fd2036ba6.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/eec90c10-f4b2-493f-aeee-4ed049f5093a.vsidx
ECommerceBackend/Entities/obj/project.nuget.cache
ECommerceBackend/Entities/obj/project.assets.json
ECommerceBackend/Entities/obj/Entities.csproj.nuget.dgspec.json
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.GeneratedMSBuildEditorConfig.editorconfig
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.assets.cache
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.GeneratedMSBuildEditorConfig.editorconfig
ECommerceBackend/Entities/obj/Entities.csproj.nuget.dgspec.json
ECommerceBackend/Entities/obj/project.assets.json
ECommerceBackend/Entities/obj/project.nuget.cache
ECommerceBackend/.vs/ECommerce/FileContentIndex/511a63dd-f717-4e31-98bb-99e252243de6.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5f0d7de3-3029-4560-a908-9e69413ea73c.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/b0eb274e-2649-4c15-9073-5f62ce81a93a.vsidx
ECommerceBackend/.vs/ECommerce/DesignTimeBuild/.dtbcache.v2
ECommerceBackend/.vs/ECommerce/FileContentIndex/f0bb35c2-e3ba-4f3c-9108-840c61c316b6.vsidx
ECommerceBackend/Business/obj/Debug/net7.0/Business.assets.cache
ECommerceBackend/Business/obj/Debug/net7.0/Business.GeneratedMSBuildEditorConfig.editorconfig
ECommerceBackend/Business/obj/project.nuget.cache
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.assets.cache
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.GeneratedMSBuildEditorConfig.editorconfig
ECommerceBackend/DataAccess/obj/project.nuget.cache
ECommerceBackend/.vs/ECommerce/DesignTimeBuild/.dtbcache.v2
ECommerceBackend/.vs/ECommerce/FileContentIndex/511a63dd-f717-4e31-98bb-99e252243de6.vsidx
*.vsidx
*.v2
*.vsidx
ECommerceBackend/.vs/ECommerce/DesignTimeBuild/.dtbcache.v2
