
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.csproj.AssemblyReference.cache
ECommerceBackend/Business/obj/Debug/net7.0/Business.csproj.AssemblyReference.cache
ECommerceBackend/.vs/ECommerce/v17/.suo
ECommerceBackend/.vs/ECommerce/FileContentIndex/c92e6b0f-817d-4afe-a87c-d52ae6b95b62.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/982d9966-b2bb-465f-8935-6ae2d5ea77d4.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/8352a008-ddda-4282-9433-3856fb330753.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/4beecf4b-70c9-476b-8eee-d9decd4fa73a.vsidx
ECommerceBackend/Entities/obj/project.nuget.cache
ECommerceBackend/Entities/obj/project.nuget.cache
ECommerceBackend/.vs/ECommerce/DesignTimeBuild/.dtbcache.v2
ECommerceBackend/.vs/ECommerce/FileContentIndex/1db6b81e-42d9-4c4b-b0f1-b783debb107b.vsidx
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.projects.v7.bin
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.projects.v6.1
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.metadata.v7.bin
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.metadata.v6.1
ECommerceBackend/.vs/ECommerce/v17/.suo
ECommerceBackend/.vs/ECommerce/v17/.futdcache.v2
ECommerceBackend/.vs/ECommerce/FileContentIndex/d40808e3-2f22-4fbf-a8ff-7e11254e7d70.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/b0eb274e-2649-4c15-9073-5f62ce81a93a.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/acceff2e-3199-4e8c-8ed6-64feb7e9ec81.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/902acbdd-0171-4434-8043-5dff785f171d.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/8d4ff021-a25c-41f3-a7b0-5beb67744552.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5f0d7de3-3029-4560-a908-9e69413ea73c.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5c678ff7-0e4e-46c1-83f7-3ccaae958c34.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/511a63dd-f717-4e31-98bb-99e252243de6.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/482bd567-f710-4ccd-9cf5-9b652dd79991.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/2205d0d1-5b38-48c8-b9ef-3e14f8aee080.vsidx
ECommerceBackend/.vs/ECommerce/DesignTimeBuild/.dtbcache.v2
ECommerceBackend/Business/bin/Debug/net7.0/Business.dll
ECommerceBackend/Business/bin/Debug/net7.0/Business.pdb
ECommerceBackend/Business/bin/Debug/net7.0/Core.dll
ECommerceBackend/Business/bin/Debug/net7.0/Core.pdb
ECommerceBackend/Business/bin/Debug/net7.0/DataAccess.dll
ECommerceBackend/Business/bin/Debug/net7.0/DataAccess.pdb
ECommerceBackend/Business/bin/Debug/net7.0/Entities.dll
ECommerceBackend/Business/bin/Debug/net7.0/Entities.pdb
ECommerceBackend/Core/bin/Debug/net7.0/Core.dll
ECommerceBackend/Core/bin/Debug/net7.0/Core.pdb
ECommerceBackend/Entities/obj/Debug/net7.0/refint/Entities.dll
ECommerceBackend/Entities/obj/Debug/net7.0/ref/Entities.dll
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.pdb
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.dll
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.csproj.CopyComplete
ECommerceBackend/.vs/ECommerce/DesignTimeBuild/.dtbcache.v2
ECommerceBackend/.vs/ECommerce/FileContentIndex/482bd567-f710-4ccd-9cf5-9b652dd79991.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/511a63dd-f717-4e31-98bb-99e252243de6.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5c678ff7-0e4e-46c1-83f7-3ccaae958c34.vsidx
*.vsidx
*.v2
*.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/511a63dd-f717-4e31-98bb-99e252243de6.vsidx
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.projects.v6.1
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.projects.v6.1
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.metadata.v6.1
ECommerceBackend/.vs/ECommerce/v17/.suo
ECommerceBackend/.vs/ECommerce/v17/.futdcache.v2
ECommerceBackend/.vs/ECommerce/FileContentIndex/d40808e3-2f22-4fbf-a8ff-7e11254e7d70.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/b0eb274e-2649-4c15-9073-5f62ce81a93a.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/acceff2e-3199-4e8c-8ed6-64feb7e9ec81.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5f0d7de3-3029-4560-a908-9e69413ea73c.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5c678ff7-0e4e-46c1-83f7-3ccaae958c34.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/511a63dd-f717-4e31-98bb-99e252243de6.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/482bd567-f710-4ccd-9cf5-9b652dd79991.vsidx
ECommerceBackend/.vs/ECommerce/DesignTimeBuild/.dtbcache.v2
ECommerceBackend/Business/obj/Debug/net7.0/Business.assets.cache
*.cache
ECommerceBackend/Business/obj/Debug/net7.0/Business.csproj.CopyComplete
ECommerceBackend/Business/obj/Debug/net7.0/Business.dll
ECommerceBackend/Business/obj/Debug/net7.0/ref/Business.dll
ECommerceBackend/Business/obj/Debug/net7.0/Business.pdb
ECommerceBackend/Business/obj/Debug/net7.0/refint/Business.dll
ECommerceBackend/Core/obj/Debug/net7.0/Core.csproj.BuildWithSkipAnalyzers
ECommerceBackend/Core/obj/Debug/net7.0/Core.dll
ECommerceBackend/Core/obj/Debug/net7.0/Core.pdb
ECommerceBackend/Core/obj/Debug/net7.0/ref/Core.dll
ECommerceBackend/Core/obj/Debug/net7.0/refint/Core.dll
ECommerceBackend/DataAccess/bin/Debug/net7.0/Core.dll
ECommerceBackend/DataAccess/bin/Debug/net7.0/Core.pdb
ECommerceBackend/DataAccess/bin/Debug/net7.0/DataAccess.dll
ECommerceBackend/DataAccess/bin/Debug/net7.0/DataAccess.pdb
ECommerceBackend/DataAccess/bin/Debug/net7.0/Entities.dll
ECommerceBackend/DataAccess/bin/Debug/net7.0/Entities.pdb
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.assets.cache
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.csproj.AssemblyReference.cache
*.cache
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.csproj.CopyComplete
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.csproj.BuildWithSkipAnalyzers
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.csproj.AssemblyReference.cache
*.cache
ECommerceBackend/DataAccess/obj/Debug/net7.0/refint/DataAccess.dll
ECommerceBackend/DataAccess/obj/Debug/net7.0/ref/DataAccess.dll
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.pdb
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.dll
ECommerceBackend/Entities/bin/Debug/net7.0/Core.pdb
ECommerceBackend/Entities/bin/Debug/net7.0/Core.dll
ECommerceBackend/Entities/bin/Debug/Entities.1.0.0.nupkg
ECommerceBackend/Entities/bin/Debug/net7.0/Entities.dll
ECommerceBackend/Entities/bin/Debug/net7.0/Entities.pdb
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.assets.cache
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.csproj.AssemblyReference.cache
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.csproj.BuildWithSkipAnalyzers
ECommerceBackend/Business/obj/Debug/net7.0/Business.assets.cache
ECommerceBackend/Business/obj/Debug/net7.0/Business.csproj.AssemblyReference.cache
*.cache
*.cache
ECommerceBackend/Business/obj/Debug/net7.0/Business.csproj.FileListAbsolute.txt
ECommerceBackend/Core/obj/Debug/net7.0/Core.csproj.FileListAbsolute.txt
ECommerceBackend/Core/obj/Debug/net7.0/Core.GeneratedMSBuildEditorConfig.editorconfig
ECommerceBackend/Core/obj/Debug/net7.0/Core.GlobalUsings.g.cs
ECommerceBackend/Core/obj/project.assets.json
ECommerceBackend/DataAccess/obj/DataAccess.csproj.nuget.dgspec.json
ECommerceBackend/DataAccess/obj/DataAccess.csproj.nuget.g.props
ECommerceBackend/DataAccess/obj/DataAccess.csproj.nuget.g.targets
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.csproj.AssemblyReference.cache
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.assets.cache
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.csproj.FileListAbsolute.txt
ECommerceBackend/DataAccess/obj/project.nuget.cache
ECommerceBackend/Entities/bin/Debug/net7.0/Entities.deps.json
ECommerceBackend/Entities/obj/project.nuget.cache
ECommerceBackend/Entities/obj/project.assets.json
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.projects.v6.1
ECommerceBackend/.vs/ProjectEvaluation/ecommerce.metadata.v6.1
ECommerceBackend/.vs/ECommerce/v17/.suo
ECommerceBackend/.vs/ECommerce/v17/.futdcache.v2
ECommerceBackend/.vs/ECommerce/FileContentIndex/d40808e3-2f22-4fbf-a8ff-7e11254e7d70.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/b0eb274e-2649-4c15-9073-5f62ce81a93a.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/acceff2e-3199-4e8c-8ed6-64feb7e9ec81.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5f0d7de3-3029-4560-a908-9e69413ea73c.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/5c678ff7-0e4e-46c1-83f7-3ccaae958c34.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/511a63dd-f717-4e31-98bb-99e252243de6.vsidx
ECommerceBackend/.vs/ECommerce/FileContentIndex/482bd567-f710-4ccd-9cf5-9b652dd79991.vsidx
ECommerceBackend/.vs/ECommerce/DesignTimeBuild/.dtbcache.v2
.vs/VSWorkspaceState.json
ECommerceBackend/Business/obj/Debug/net7.0/Business.assets.cache
ECommerceBackend/Business/obj/Debug/net7.0/Business.csproj.AssemblyReference.cache
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.assets.cache
ECommerceBackend/DataAccess/obj/Debug/net7.0/DataAccess.csproj.AssemblyReference.cache
ECommerceBackend/DataAccess/obj/project.nuget.cache
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.assets.cache
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.csproj.AssemblyReference.cache
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.csproj.AssemblyReference.cache
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.assets.cache
ECommerceBackend/Entities/obj/Debug/Entities.1.0.0.nuspec
ECommerceBackend/Entities/obj/Debug/net7.0/Entities.csproj.FileListAbsolute.txt
